# Dependencies
node_modules/

# Build output
build/
dist/
.tmp/
.temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing / Coverage
coverage/

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env / Secrets
.env
.env.*.local

# Cache
.cache/
.eslintcache

# Misc
*.local
